.git
.gitignore
.env
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.md
docker-compose.yml
Dockerfile
Dockerfile.nginx
publish.sh
